.navbar {
  position: sticky; /* Make navbar fixed */
  top: 0;
  z-index: 1000; /* Ensure it stays on top */
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ccc;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  position: fixed; /* Make sidebar fixed */
  height: 100%; /* Full height */
  min-width: 250px;
  max-width: 250px;
  background: #f6f6f6;
  color: #272d38;
  transition: all 0.3s;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
#sidebar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#sidebar.active {
  min-width: 100px;
  max-width: 100px;
  text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
  display: none;
}

/* Optional: Center and resize the logo within the sidebar header */
.sidebar-header .sidebar-logo {
  width: 100%; /* Allows full width within sidebar constraints */
  max-width: 120px; /* Adjust maximum width to ensure it's not too large */
  margin: 0 auto; /* Center the logo */
  display: block;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
  color: #272d38;
  text-decoration: none;
}

#sidebar.active ul li a {
  /* padding: 20px 10px; */
  padding: 15px 5px;
  text-align: center;
  font-size: 0.85em;
  min-width: 80px;
  max-width: 80px;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 0px;
}

#sidebar ul li.active > a,
#sidebar ul li a.active,
a[aria-expanded='true'] {
  color: #ffffff; /* Text color */
  background: #e84697; /* Blue background for active links */
  border-radius: 8px;
}

#sidebar ul li a:hover,
#sidebar ul li.active > a {
  background: #0056b3; /* Darker blue for hover */
  color: #ffffff; /* White text for readability */
  border-radius: 8px; /* Smooth border on the left */
}

#sidebar ul li a:hover {
  background: #e84697; /* Keep the blue background on hover */
  color: #272d38; /* White text for readability */
  border-bottom: none; /* Remove any bottom border */
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar .sidebar-header {
  background: #f6f6f6;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #f6f6f6;
}

#sidebar ul li a {
  padding: 10px;
  margin-bottom: 2px;
  font-size: 1.1em;
  display: block;
  color: #272d38;
}

#sidebar ul li.active > a,
a[aria-expanded='true'] {
  color: #ffffff; /* White text for active links */
  background: #e84697; /* Dark background for active state */
  border-radius: 8px;
}

/* Active link styles */
#sidebar ul li a:hover,
#sidebar ul li.active > a {
  background: #e84697; /* Same as active */
  color: #ffffff; /* Ensure text is readable */
  border-bottom: 2px solid #e84697; /* Accent border */
  border-radius: 8px;
}

a[data-toggle='collapse'] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
  border: 1px solid #7386d5;
}

a.article,
a.article:hover {
  background: #f6f6f6 !important;
  color: #ffffff !important;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px); /* Adjust width to account for sidebar */
  margin-left: 250px; /* Move content to the right */
  padding: 20px;
  min-height: fit-content;
  transition: all 0.3s;
}

#sidebar.active + #content {
  width: calc(100% - 100px); /* Adjust width when sidebar is active */
  margin-left: 100px; /* Move content to the right */
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }

  .sidebar-header .sidebar-logo {
    max-width: 80px; /* Smaller max width for mobile screens */
  }

  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
  }

  #sidebar.active {
    margin-left: 0 !important;
  }

  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
    display: none;
  }

  #sidebar .sidebar-header strong {
    display: block;
  }

  #sidebar ul li a {
    padding: 20px 5px;
    text-align: center;
    font-size: 0.85em;
  }

  #sidebar ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
  }

  #sidebar ul ul a {
    padding: 10px !important;
  }

  #sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
    min-width: 80px !important;
    max-width: 80px !important;
  }

  #content {
    width: calc(100% - 80px); /* Adjust width for mobile screens */
    margin-left: 0px; /* Move content to the right */
  }

  #sidebar.active + #content {
    width: calc(100% - 80px); /* Adjust width when sidebar is active */
    margin-left: 80px; /* Move content to the right */
  }
}
