.solution-gray-bg {
  background-color: var(--Off-White) !important; /* solutiongray */
}

.bg-info{
    background-color: var(--primary) !important;
}

#mainNavbar{
  position: sticky;
  z-index: 1050;
}

#contect {
  position: sticky;
  top: 0;
  z-index: 1050;
  transition: transform 0.45s ease, opacity 0.3s ease;
  will-change: transform;
}

.codeArdraSolutionLogo{
    background-image: url(../../../../public/CodeArdra_Solutions_logo_dark_edited_1.png);
    height: 65px;
    width: 200px;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    box-shadow: 0 4px 8px 0 var(--SolutionGrey), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}