.text-color-primary {
  color: var(--primary);
}

.text-color-ardraGreen {
  color: var(--ardraGreen);
}

.core-modules-heading::after {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  background-color: var(--ardraGreen);
  margin-top: 8px;
  border-radius: 2px;
}

.core-module-box img {
  width: 60px;
  height: 60px;
}

.core-module-box a {
  text-decoration: none !important;
  color: var(--secondary) !important;
}
.core-module-box a:hover {
  color: var(--circuitTeal) !important;
}
