.school-management-section {
  min-height: 50vh;
}

.grid-custom {
  display: grid;
  align-items: center;
  justify-content: flex-end;
  justify-items: center;
  grid-template-rows: 1fr 45px 0.5fr;
}

h4 {
  display: inline-block; 
  font-weight: 600;
  color: var(--primary);
  padding: 6px 14px;
}
